<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="js/vue.js" type="text/javascript"></script>
		<script src="js/hero.js"></script>

	</head>
	<body>
		<div id="vue-div" class="container full">
			<div class="dropdown third">
				<button class="ddbutton" v-on:click="ddclicked()"> Hero 1: {{hero.name}} </button>
				<div v-if="ddshow" class="dd">
					<input class="full" list="heroDD" v-model.lazy="heroSelected" id="hero-choice" name="hero-choice"  v-on:change="getData(heroSelected)" placeholder="select a hero"/>
					<datalist id="heroDD">
						<option v-for="hero in heroList"> {{hero.name}}</option>
					</datalist>
				</div>
			</div>
			<div class="stats third">
				<div v-if="showSkill" >
					<p id="heroName"> {{hero.name}} <p>
					<p>Attack:</p> <input class="full" v-model.lazy="heroS.atk" type="number" v-on:change="getDMG(hero)"> </input>
					<p>Defense:</p> <input class="full"v-model.lazy="heroS.def" type="number" v-on:change="getDMG(hero)"> </input>
					<p>Health:</p> <input class="full" v-model.lazy="heroS.hp" type="number" v-on:change="getDMG(hero)"> </input>
					<p>Speed:</p> <input class="full" v-model.lazy="heroS.spd" type="number" v-on:change="getDMG(hero)"> </input>
					<p>Critical Hit Chance:</p> <input class="full" v-model.lazy="heroS.chc" type="number" v-on:change="getDMG(hero)"> </input>
					<p>Critical Hit Damage:</p> <input class="full" v-model.lazy="heroS.chd" type="number" v-on:change="getDMG(hero)"> </input>
					<p>Effectiveness:</p> <input class="full" v-model.lazy="heroS.eff" type="number" v-on:change="getDMG(hero)"> </input>
					<p>Dual Attack Chance:</p> <input class="full" v-model.lazy="heroS.dac" type="number" v-on:change="getDMG(hero)"> </input>
				</div>
			</div>
			<div class="skills third">
				<div v-if="showSkill" class="full">
					<div v-for="skill in hero.skills" v-if="skill.enhance != null" class="full">
						{{skill.name}}:  
						<div class="container">
							<button class="minusMola quarter" v-on:click="subtractMola(skill), getDMG(hero)"> - </button> 
							<input class="mola half" v-model.lazy="skill.mola" min="0" v-bind:max="skill.enhance.length" type="number" v-on:change="getDMG(hero)"> </input>
							<button class="addMola quarter" v-on:click="addMola(skill),getDMG(hero)"> + </button>
						</div>
						/ {{skill.enhance.length}} <br>
						Damage: {{skill.dmg}}
						<input id="s1" v-model.lazy="skill.mola" type="range" min="0" value="0" v-bind:max="skill.enhance.length" v-on:change="getDMG(hero)">
						<div v-if="skill.soulburn">
							<button class="sbbutton" v-on:click="sbclicked()"> SoulBurn: {{soulburn}} </button>
						</div>
						<div v-if="skill.extraAtk">
							{{skill.name}}: {{skill.XtraAtkdmg}}
						</div>
					</div>
					<div class="enemy stats">
						<p>Enemy Total HP</p> <input class="full" v-model.lazy="enemy.hp" type="number" v-on:change="getDMG(hero)"> </input>
						<p>Enemy Current HP</p> <input class="full" v-model.lazy="enemy.curHP" type="number" v-on:change="getDMG(hero)"> </input>
						<p>Enemy Defense</p> <input class="full" v-model.lazy="enemy.defense" type="number" v-on:change="getDMG(hero)"> </input>
						<p>Number Of Enemies</p> <input class="full" v-model.lazy="enemy.numTargets" type="number" v-on:change="getDMG(hero)"> </input>
					</div>
					<div class="debuffs">
						Enemy Debuffs: {{enemy.numDebuffs}};
						<button class="defBreakButton full" v-on:click="defBreakBclicked(), getDMG(hero)"> Defense Break: {{enemy.defBreak}} </button>
						<button class="decSpdButton full" v-on:click="decSpdBclicked(), getDMG(hero)"> Decrease Speed: {{enemy.decSpd}} </button>
						<button class="atkDButton full" v-on:click="atkDBclicked(), getDMG(hero)"> Decrease Attack: {{enemy.atkD}} </button>
						<button class="stunButton full" v-on:click="stunBclicked(), getDMG(hero)"> Stun: {{enemy.stun}} </button>
						<button class="unhealButton full" v-on:click="unhealableBclicked(), getDMG(hero)"> Unhealable: {{enemy.unhealable}} </button>
						<button class="cannotBuffButton full" v-on:click="targetBclicked(), getDMG(hero)"> CannotBuff: {{enemy.cannotBuff}} </button>
						<button class="sleepButton full" v-on:click="sleepBclicked(), getDMG(hero)"> Sleep: {{enemy.sleep}} </button>
						<button class="decHitChanceButton full" v-on:click="decHitChanceBclicked(), getDMG(hero)"> Decrease Hit Chance: {{enemy.decHitChance}} </button>
						<button class="silenceButton full" v-on:click="silenceBclicked(), getDMG(hero)"> Silence: {{enemy.silence}} </button>
						<button class="vampiricTouchButton full" v-on:click="targetBclicked(), getDMG(hero)"> Vampiric Touch: {{enemy.vampiricTouch}} </button>
						<button class="targetButton full" v-on:click="targetBclicked(), getDMG(hero)"> Target: {{enemy.target}} </button>
						<button class="magicNailButton full" v-on:click="magicNailBclicked(), getDMG(hero)"> Magic Nail: {{enemy.magicNail}} </button>
						<button class="bombButton full" v-on:click="bombBclicked(), getDMG(hero)"> Bomb: {{enemy.bomb}} </button>
						
						<button class="burnButton" v-on:click="burnBclicked()"> Burn: {{enemy.burn}} </button>
						<button class="bleedButton" v-on:click="bleedBclicked()"> Bleed: {{enemy.bleed}} </button>
						<button class="poisonButton" v-on:click="poisonBclicked()"> Poison: {{enemy.poison}} </button>
					</div>
				</div>
			</div>
		</div>
		<script src="js/main.js" type="text/javascript"></script>
	</body>
</html>
